.About h2 {
  font-family: var(--font-headers);
  padding: 1rem 0;
}

aside.About {
  background-image: var(--pattern-black);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  text-align: justify;
  color: gold;
  padding: 1rem 5rem 3rem;
  padding-top: 6rem; /*kvůli  navigaci, aby při hoveru šlo vidět 
  jednolité pozadí*/
}

.About .link-in-text {
  color: gold;
  cursor: pointer;
}

@media (max-width: 1200px) {
  aside.About {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
