aside.Gallery {
  background-image: var(--pattern-black);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 1rem 5rem 3rem;
  padding-bottom: 3rem;
}

.Gallery h2 {
  font-family: "Special Elite", cursive;
  padding: 1rem 0;
}

.Gallery .grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.Gallery .img-grid {
  border: solid red 1px;
  aspect-ratio: 1 / 1;
}

.Gallery .img-grid img {
  border: solid yellow 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.Gallery .img-grid img:hover {
  filter: grayscale(50%);
  object-fit: none; /*po optimalizaci fotek by tohle mohlo jít, 
  prostě by to šlo do své originální šířky*/
  /*+ při rozkliknutí by byl obrázek v popředí přes větší část obrazovky,
  a pozadí blured - přes JS a toggle class .active-img 
  - ale nefunguje pro telefony! */
}

@media (max-width: 1200px) {
  aside.Gallery {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 560px) {
  .Gallery .img-grid img:hover {
    cursor: inherit;
    filter: none;
    object-fit: cover;
  }
}
